<label class="col-md-2 col-xs-4 control-label">{{label}}</label>
<div class="col-md-2 col-xs-4 form-ele">
	<input class="val-ele" 
		name="{{name}}"
		{{#if val}}
			value="{{val}}"
		{{/if}}
		type="checkbox"
	/>
</div>
